################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bank.CLI/bin
/Bank.Model/bin
/.vs
/Bank.Service/bin

/Bank.CLI/obj
/Bank.Model/obj
/Bank.Service/obj
*.v2
